{
  "swagger": "2.0",
  "info": {
    "title": "Note",
    "description": "This is where I put all of my notes, my thoughts, and what I write about.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "note.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/notes/": {
      "get": {
        "summary": "get notes",
        "description": "get notes",
        "operationId": "getNotes",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across notes",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page results to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "count of results to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort order to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "which field to order by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      },
      "post": {
        "summary": "add note",
        "description": "add note",
        "operationId": "addNote",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "formData",
            "description": "title of the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "notes",
            "in": "formData",
            "description": "details of the notes",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      }
    },
    "/notes/{notes_id}/": {
      "get": {
        "summary": "get note",
        "description": "get note",
        "operationId": "getNote",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "id for the notes",
            "required": true,
            "type": "integer"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      },
      "put": {
        "summary": "update note",
        "description": "update note",
        "operationId": "updateNote",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "unique notes_id for the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "formData",
            "description": "title of the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "notes",
            "in": "formData",
            "description": "details of the notes",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      },
      "delete": {
        "summary": "delete note",
        "description": "delete note",
        "operationId": "deleteNote",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "unique id for the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      }
    },
    "/notes/{notes_id}/tags/": {
      "get": {
        "summary": "get note tags",
        "description": "get note tags",
        "operationId": "getNotesTags",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "id for notes",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the notes",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add note tag",
        "description": "add note tag",
        "operationId": "addNoteTags",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "id for the notes",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/notes/{notes_id}/tags/{tag}/": {
      "delete": {
        "summary": "delete a notes tag",
        "description": "delete a notes tag",
        "operationId": "deleteNotesTag",
        "parameters": [
          {
            "name": "notes_id",
            "in": "path",
            "description": "id for the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the notes",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from notes",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/note/{note_id}/images/": {
      "get": {
        "summary": "retrieve note images",
        "description": "retrieve note images",
        "operationId": "getOrganizationScreenshots",
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "description": "id for note",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      },
      "post": {
        "summary": "add images to note",
        "description": "add images for note",
        "operationId": "addOrganizationScreenshot",
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "description": "id for the note",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "path",
            "in": "formData",
            "description": "image path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "image type",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "image name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },
    "/note/{note_id}/images/{note_image_id}": {
      "delete": {
        "summary": "delete a note image",
        "description": "delete a note image",
        "operationId": "deleteOrganizationScreenshot",
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "description": "id for the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "note_image_id",
            "in": "path",
            "description": "id of the image to remove from note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },
    "/notes/{tag}/": {
      "get": {
        "summary": "get notes by tag",
        "description": "get notes by tag",
        "operationId": "getNoteByTag",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "tag to filter notes by",
            "required": true,
            "type": "string"
          },        
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across notes",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page results to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "count of results to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort order to return",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "which field to order by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "notes response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      }
    }
  },
  "definitions": {
    "note": {
      "properties": {
        "note_id": {
          "description": "id for the note",
          "type": "integer",
          "format": "id"
        },
        "title": {
          "description": "title of the notes",
          "type": "string"
        },
        "details": {
          "description": "details of the notes",
          "type": "string"
        },
        "post_date": {
          "description": "date the note was posted",
          "type": "string",
          "format": "date"
        }
      }
    },
    "image": {
      "properties": {
        "note_id": {
          "description": "id for the note",
          "type": "integer",
          "format": "id"
        },
        "note_image_id": {
          "description": "id for the image",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name of the image",
          "type": "string"
        },
        "path": {
          "description": "path of the image",
          "type": "string"
        },
        "type": {
          "description": "type of image",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}