{
  "swagger": "2.0",
  "info": {
    "title": "Note",
    "description": "This is a note api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "note.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/note/": {
      "get": {
        "summary": "retrieves all notes",
        "description": "pulls all notes, with filter by keyword",
        "operationId": "getNotes",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "note response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "note",
          "noteging"
        ]
      },
      "post": {
        "summary": "add note",
        "description": "add a new note",
        "operationId": "addNote",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "note response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "note",
          "noteging"
        ]
      }
    },
    "/note/{slug}": {
      "get": {
        "summary": "Retrieve a note using its slug",
        "description": "Returns the note detail",
        "operationId": "getNote",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the note, notice this is in the path, not a query variable",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "note response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "note",
          "noteging"
        ]
      },
      "put": {
        "summary": "update note",
        "description": "update note",
        "operationId": "updateNote",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "note response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "note",
          "noteging"
        ]
      },
      "delete": {
        "summary": "delete note",
        "description": "deletes an note",
        "operationId": "deleteNote",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "note response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "note",
          "noteging"
        ]
      }
    }
  },
  "definitions": {
    "note": {
      "properties": {
        "name": {
          "description": "name of the note",
          "type": "string"
        },
        "description": {
          "description": "description of the note",
          "type": "string"
        },
        "url": {
          "description": "url for the note",
          "type": "string"
        },
        "tags": {
          "description": "tags for the note",
          "type": "string"
        },
        "slug": {
          "description": "slug for the note",
          "type": "string"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
